*{
  font-family: 'Times New Roman', Times, serif;
}

.title-project {
  text-align: center;
  padding-top: 25px;
  color: white;
}

.container-myproject {
  width: 100vw;
  height: 76vh;
}

.form-contact {
  width: 28vw;
}

.label-contact {
  font-size: 15px;
}

.input-contact {  
  background-color: rgb(252, 250, 250);
  border-color: rgb(161, 161, 161);
  height: 40px;
}

.submit-contact {
  background-color: black;
  color: white;
  padding: 10px;
  width: 100px;
  border-radius: 10px;
  align-self: flex-end;
}

textarea.input-contact {
  resize: none;
  height: 100px;
}

.tech-item {
  width: 48%;
  display: flex;
  align-items: center;
  font-size: 15px;
  color: white;
}