* {
  font-family: "Times New Roman", Times, serif;
}

.input-contact {
  padding: 5px;
  border-radius: 10px;
  background-color: rgb(252, 250, 250);
  border-color: rgb(161, 161, 161);
  margin-bottom: 10px;
  height: 30px;
}

textarea.input-contact {
  resize: none;
  height: 80px;
}

.submit-contact {
  width: 100px;
  align-self: flex-end;
}
