.container {
  height: 60%;
  width: 70%;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 2px solid black;
  box-shadow: 5px 5px 5px 5px rgb(41, 41, 44);
}

img {
  height: 180px;
  object-fit: contain;
  border-radius: 10px;
}

.duration h4,
.duration h5 {
  margin-left: 10px;
}

.tech h4 {
  margin: 10px;
}

.description {
  margin-top: 50px;
}
