body {
  margin: 0;
  padding: 0;
  
  background: rgb(9, 121, 105);
  background: linear-gradient(90deg, rgba(9, 121, 105, 0.9809173669467787) 0%, rgba(0, 212, 255, 0.6307773109243697) 100%);
}




/* styling card */
.card {
  display: flex;
  background-color: rgb(213, 230, 230);
  margin: 50px auto;
  height: 80%;
  width: 40%;
  border: 2px solid black;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgb(41, 41, 44);
}

.biodata {
  margin: 5%;
  width: 50%;
}

.biodata h3{
  margin-bottom: 5px;
}

button {
  border-radius: 5px;
  background-color: black;
  color: aliceblue;
  
  padding: 4px;
  margin: 20px 0px;
}

/* styling icon */
.icon {
  font-size: large;
  display: flex;
  
}
/*  */
/* styling profil */
.profil {
  border-radius: 10px;
  background-color: rgb(226, 226, 226);
  margin: 5% auto 5%;  /* atas 0,auto sisi,bawah 5% */
  width: fit-content;
}

i {
  margin-right: 10px;
  margin-bottom: 10px;
}

img {
  width: 100%;
  height: 180px;
  object-fit: contain;
  border-radius: 10px;
}

h3,
h5 {
  display: flex;
  justify-content: center;
}

.profil h5 {
  padding-bottom: 10px;
}
