* {
  font-family: "Times New Roman", Times, serif;
}

/* RATING BINTANG DAN JUDUL */
h1 {
  font-size: 30px;
}

.rating-btn {
  background-color: #a9a9a9;
  color: gold;
  font-size: large;
  border-radius: 10px;
}

/* CARD TESTIMONIAL */

.testimonial {
  box-shadow: 5px 5px 5px 5px rgb(41, 41, 44);
}

.testimonial img {
  height: 40%;
  margin-bottom: 5px;
  object-fit: contain;
  margin-bottom: 5px;
}

.testimonial .quote {
  font-style: italic;
  font-size: 20px;
}

.testimonial .author {
  font-size: 20px;
}
